@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; /* Default: Dark text for light mode */
  --background-start-rgb: 0, 0, 0; /* Light background */
  --background-end-rgb: 0, 0, 0; /* Slightly darker for gradient */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* Light text for dark mode */
    --background-start-rgb: 0, 0, 0; /* Dark background */
    --background-end-rgb: 20, 20, 20; /* Slightly lighter for gradient */
  }
}

body {
  font-family: 'Inter', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: #080808 ;
  overflow-x: hidden;
}
